@font-face {
  font-family: americana;
  src: url("../../../../assets/fonts/Americanatest.ttf") format('truetype');
}

.section_contact {
  background-position: 0px 0px;
  background-size: cover;
  background: url('../../../../assets/images/contact/bg-contact-us.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  z-index: 1;
}

h1 {
  color: white;
  font-size: 3.7vw;
  text-transform: uppercase;
  font-family: americana;
  margin-top: -0.5%;
  letter-spacing: 8px;
  margin-left: 10%;
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
}

.title-arab-contact {
  font-family: GE_SS;
  direction: rtl;
  letter-spacing: 0px;
  margin-right: 8%;

}

.content {
  margin-top: 5%;
}

.label_arabic {
  margin-left: 90%;
  width: 100px;
  font-family: GE_SS_LIGHT;

}

.text_arabic {
  direction: rtl;
}


input,
textarea {
  padding-bottom: 20px;
  padding-top: 10px;
  border: 0;
  width: 100%;
  font-size: 1rem;
  background-color: transparent;
  color: white;
  border: none;
  background: /* gradient can be an image */
    linear-gradient(
        to left,
        #e8a036 0%,
        #e3ac23 12%,
        #f8de52 47%,
        #e5aa38 100%
    ) left bottom transparent no-repeat;
  background-size: 100% 2px;
}

.button_EN_FR {
  font-family: Americana;
  opacity: 1;
  background: linear-gradient(to top, #e8a036 0%, #e3ac23 25%, #f8de52 75%, #e5aa38 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2.5rem;
  line-height: 1.0625rem;
  min-width: 150px;
  padding: 6px 10px;
  text-transform: uppercase;
  letter-spacing: .5px;
  border-radius: 10px;
  font-weight: 600;
  border: 2px solid #FFFFFF;
  display: inline-block;
  text-align: center;
  margin-bottom: 100%;
}

.button_EN_FR:hover {
  background: linear-gradient(to top, #ffffff 0%, #ffffff 25%, #ffffff 75%, #ffffff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: #FFFFFF;
  cursor: pointer;
}

.button-arabic {
  font-family: GE_SS_LIGHT;
}

.fas {
  font-size: 37px;
}

.white-cross {
  margin-top: 75%;
  width: 100px;
  -webkit-animation: spin 50s linear infinite;
  -moz-animation: spin 50s linear infinite;
  animation: spin 50s linear infinite;
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.golden-contouring-cross {
  margin-bottom: 40%;
  margin-left: -4%;
  width: 50px;
  -webkit-animation: spin 50s linear infinite;
  -moz-animation: spin 50s linear infinite;
  animation: spin 50s linear infinite;
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.Circle {
  margin-top: -20%;
  margin-left: 85%;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-name: example;
  animation-duration: 20s;

}

.img-Circle {
  width: 12vw;
  height: 12vw;
}


@keyframes example {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  25% {
    transform: translate(20px, 0px) rotate(0deg);
  }
  50% {
    transform: translate(0px, 10px) rotate(0deg);
  }
  75% {
    transform: translate(-10px, 0px) rotate(0deg);
  }
  90% {
    transform: translate(0px, -10px) rotate(0deg);
  }
  100% {
    transform: translate(1px, 1px) rotate(0deg);
  }
}

/****  floating-Lable style start ****/
.floating-label {
  position: relative;
  margin-bottom: 10%;
}

.floating-input {
  font-size: 20px;
  padding: 4px 4px;
  display: block;
  height: 30px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #757575;
}

.floating-input:focus {
  outline: none;
  border-bottom: 2px solid orange;
}

label {
  color: #FFFFFF;
  font-size: 1.4vw;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: -5px;
  font-family: americana;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.floating-input:focus ~ label, .floating-input:not(:placeholder-shown) ~ label {
  top: -18px;
  font-size: 14px;
  color: white;
}

.floating-select:focus ~ label, .floating-select:not([value=""]):valid ~ label {
  top: -18px;
  font-size: 14px;
  color: #5264AE;
}

/* active state */
.floating-input:focus ~ .bar:before, .floating-input:focus ~ .bar:after, .floating-select:focus ~ .bar:before, .floating-select:focus ~ .bar:after {
  width: 50%;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.floating-textarea {
  min-height: 7.5em;
  overflow: hidden;
  overflow-x: hidden;
}


.floating-heading {
  position: fixed;
  color: #aaa;
  font-size: 20px;
  font-family: arial, sans-serif;
}


@media screen and (max-width: 992px) {
  .section_contact {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background: url('../../../../assets/images/responsive-background-tablette/05.jpg');
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 100% 100%;
  }
  h1 {
    font-size: 6.5vw;
    letter-spacing: 1vw;
    margin-left: 10%;
    margin-top: -1.4%;

  }
  .white-cross {
    display: none;
  }
  .golden-contouring-cross {
    display: none;
  }
  .Circle {
    display: none;
  }

  .button_EN_FR {
    font-size: 2rem;
    margin-left: 12%;

  }
  .fa-caret-right {
    font-size: 35px;
  }
  input,
  textarea {
    width: 90%;
    margin-left: 4%;
  }
  label {
    margin-left: 4%;
    font-size: 2.5vw;
  }
  .label_arabic {
    margin-left: 85%;
  }
  .title-arab-contact {
    margin-right: 5%;
    margin-top: -2%;

  }
}

@media screen and (max-width: 758px) {
  .section_contact {

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background: url('../../../../assets/images/responsive-background-phone/contact-phone.png');
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 100% 100%;
  }
  h1 {
    font-size: 8vw;
    margin-top: -3%;
    letter-spacing: 5px;
    margin-left: 3%;
  }
  .button_EN_FR {
    font-size: 1.5rem;
    min-width: 100px;
    padding: 3px 0px;

  }
  .fas {
    font-size: 25px;
  }
  label {
    font-size: 1.1em;
  }
  .section_contact {
    height: 110vh;

  }
  .title-arab-contact {
    margin-right: 2%;
    margin-top: -3.7%;

  }
  .label_arabic {
    margin-left: 80%;
    width: 65px;
  }

}
