<div class="p-shadow-3">

  <p-breadcrumb [model]="items" [home]="home"></p-breadcrumb>

</div>


<div class="p-d-flex p-mt-6 p-shadow-3">
  <p-panel>
    <ng-template pTemplate="header">
      List Projects
    </ng-template>

    <div class="card" *ngIf="projects">
      <p-table #dt1 [value]="projects" dataKey="id"
               [paginator]="true"
               [rows]="rows"
               [showCurrentPageReport]="true"
               [(first)]="first"
               currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
               [rowsPerPageOptions]="[5, 7, 25]"
               [loading]="loading">
        <ng-template pTemplate="caption">
          <div class="p-d-flex">
            <button pButton label="Clear" class="p-button-outlined" icon="pi pi-filter-slash"
                    (click)="clear(dt1)"></button>

          </div>
        </ng-template>

        <ng-template pTemplate="header">
          <tr>
            <th>
              <div class="p-d-flex p-jc-between p-ai-center">
                Name Project
                <p-columnFilter type="text" field="name" display="menu"></p-columnFilter>
              </div>
            </th>
            <th>
              <div class="p-d-flex p-jc-between p-ai-center">
                Company

              </div>
            </th>
            <th>
              <div class="p-d-flex p-jc-between p-ai-center">
                Customer
                <p-columnFilter type="text" field="nameCustomer" display="menu"></p-columnFilter>

              </div>
            </th>

            <th *ngIf="user.roles[0]==='MASTER'">
              <div class="p-d-flex p-jc-between p-ai-center">
                Admin
                <p-columnFilter type="text" field="nameAdmin" display="menu"></p-columnFilter>
              </div>
            </th>
            <th>
              <div class="p-d-flex p-jc-between p-ai-center">
                Price
                <p-columnFilter type="text" field="totalPayment" display="menu"></p-columnFilter>
              </div>
            </th>
            <th>
              <div class="p-d-flex p-jc-between p-ai-center">
                Rest Payment

              </div>
            </th>
            <th>

              <div class="p-d-flex p-jc-between p-ai-center">
                Payment
                <p-columnFilter field="status" matchMode="equals" [showMenu]="false">
                  <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                    <p-dropdown style="width: 2vw" [ngModel]="value" [options]="statuses"
                                (onChange)="filter($event.value)"
                                placeholder="all" [showClear]="true">
                      <ng-template let-option pTemplate="item">
                        <span [class]="'customer-badge status-'+option.value">{{option.label}}</span>

                      </ng-template>
                    </p-dropdown>


                  </ng-template>
                </p-columnFilter>

              </div>
            </th>

            <th>
              <div class="p-d-flex p-jc-between p-ai-center p-ml-3 ">
                Invoices
              </div>
            </th>


          </tr>

        </ng-template>
        <ng-template pTemplate="body" let-project>
          <tr>
            <td>
              {{ project.name }}
            </td>
            <td>
              {{ project.company }}
            </td>
            <td>{{ project.nameCustomer}}</td>


            <td>{{ project.nameAdmin}}

            </td>

            <td>
              {{ project.totalPayment}}


            </td>
            <td>
              {{ project.restPayment}}


            </td>
            <td>
              <span [class.status-paid]="project.status=='Paid'">{{project.status}}</span>

            <td>
              <img class="hoverImage" class="p-ml-4" src="assets/images/icon-backoffice/liste project icons/oeil.png "
                   (click)="showListInvoices(project)">
            </td>


          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="7">No project found.</td>
          </tr>
        </ng-template>
      </p-table>
    </div>

  </p-panel>

</div>
<p-dialog header={{currentNameProject}} [(visible)]="displayListTranch">
  <p-panel class="p-d-flex p-mt-4" [toggleable]="true" *ngIf="listTranches">
    <ng-template pTemplate="header">
      LIST TRANCHES
    </ng-template>

    <div class="card" *ngIf=" listTranches">
      <p-table [columns]="cols" [value]="listTranches" styleClass="p-datatable-responsive-demo">
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th style="width: 15vw">NAME</th>
            <th>DEADLINE</th>
            <th>DESCRIPTION TRANCHE</th>
            <th>Price</th>
            <th>Etat</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-tranche let-columns="columns">
          <tr>
            <td><span class="p-column-title">Name :</span><h5 class="desc-tab">{{tranche.name}}</h5></td>
            <td><span class="p-column-title">Deadline :</span>
              <div class="desc-tab ">{{tranche.deadline | date: 'dd/MM/yyyy'}} </div>
            </td>

            <td><span class="p-column-title">Description :</span>
              <div class="desc-tab ">{{tranche.description}} </div>
            </td>

            <td><span class="p-column-title">Price :</span>
              <div class="desc-tab ">{{tranche.price}} </div>
            </td>

            <td>
              <h3 style="color: red" *ngIf="tranche.etatPayement===null">Unpaid</h3>

              <img *ngIf="tranche.etatPayement!==null" src="assets/images/icon-backoffice/liste project icons/oeil.png "
                   class="p-d-flex p-mt-4" (click)=" showFacturePayment(tranche.id,tranche.name)">

              <p-dialog header={{currentName}} [(visible)]="displayBasic" [resizable]="true"
                        [style]="{width: '800px',height:'100%'}">


                <pdf-viewer [src]="host+'/downloadFileOfTranchePayment/'+currentId"

                            [style]="{width: '100%', height: '800px',display:'block'}">

                </pdf-viewer>

                <ng-template pTemplate="footer">

                </ng-template>
              </p-dialog>
            </td>
          </tr>
        </ng-template>
      </p-table>
      <div class="p-d-flex  p-jc-center" style="width: 100%" *ngIf="listTranches.length===0">
        <h1> No tranche for the moment</h1>
      </div>

    </div>


  </p-panel>
</p-dialog>
