<!--
<iframe *ngIf="!arabic_language" class="p-d-flex p-mt-2 p-mb-6"  src="https://my.atlistmaps.com/map/1b12b99b-0552-431f-9507-f8faca058139?share=true" allow="geolocation" width="100%" height="400px" frameborder="0" scrolling="no" allowfullscreen></iframe>
<iframe *ngIf="arabic_language" class="p-d-flex p-mt-2 p-mb-6"  src="https://my.atlistmaps.com/map/ea124cfd-4309-4038-a9de-0d6a738dbf69?share=true" allow="geolocation" width="100%" height="400px" frameborder="0" scrolling="no" allowfullscreen></iframe>
-->

<!--
<iframe  *ngIf="arabic_language" class="p-d-flex p-mt-0 p-mb-6"  src="https://my.atlistmaps.com/map/686c2dd5-b365-460c-b11c-cadf7195e3a3?share=true" allow="geolocation" width="100%" height="400px" frameborder="0" scrolling="no" allowfullscreen></iframe>
<iframe *ngIf="!arabic_language" class="p-d-flex p-mt-0 p-mb-6" src="https://my.atlistmaps.com/map/507e6c0e-5d4a-4700-9f48-0735de4228a0?share=true" allow="geolocation" width="100%" height="400px" frameborder="0" scrolling="no" allowfullscreen></iframe>
-->


<iframe class="p-d-flex p-mt-0 p-mb-2"
        src="https://my.atlistmaps.com/map/d7335b98-e530-4e4a-b73d-88ca621fd70d?share=true" allow="geolocation"
        width="100%" height="400px" frameborder="0" scrolling="no" allowfullscreen></iframe>
