
<div class="p-grid background">
<head>

  <title>TTerms and Conditions</title>
</head>
<body>

<section id="terms-of-service">
  <div class="card">
    <h1 class="primary-heading" [class.title-arab]="selectLang==='AR'">{{ 'TERMS-AND-CONDTIONS.TITLE' | translate }}</h1>
    <p class="paragraph" [class.description-arab]="selectLang==='AR'">
      {{ 'TERMS-AND-CONDTIONS.TEXT1' | translate }}
      <br><br><br>
      {{ 'TERMS-AND-CONDTIONS.TEXT2' | translate }}
      <br><br><br>
      {{ 'TERMS-AND-CONDTIONS.TEXT3' | translate }}
      <br><br><br>
      {{ 'TERMS-AND-CONDTIONS.TEXT4' | translate }}
      <br><br><br>
      {{ 'TERMS-AND-CONDTIONS.TEXT5' | translate }}
      <br><br><br>
      {{ 'TERMS-AND-CONDTIONS.TEXT6' | translate }}
      <br><br><br>
      {{ 'TERMS-AND-CONDTIONS.TEXT7' | translate }}
      <br><br><br>
      {{ 'TERMS-AND-CONDTIONS.TEXT8' | translate }}
      <br><br><br>
      {{ 'TERMS-AND-CONDTIONS.TEXT9' | translate }}
      <br><br><br>
      {{ 'TERMS-AND-CONDTIONS.TEXT10' | translate }}
      <br><br><br>
      {{ 'TERMS-AND-CONDTIONS.TEXT11' | translate }}
      <br><br><br>
      {{ 'TERMS-AND-CONDTIONS.TEXT12' | translate }}
      <br><br><br>
      {{ 'TERMS-AND-CONDTIONS.TEXT13' | translate }}
      <br><br><br>
      {{ 'TERMS-AND-CONDTIONS.TEXT14' | translate }}
      <br><br><br>
      {{ 'TERMS-AND-CONDTIONS.TEXT15' | translate }}
    </p>
  </div>
</section>
<footer>
  <p class="footer-heading">  {{ 'TERMS-AND-CONDTIONS.TEXT16' | translate }}</p>
</footer>
</body>
</div>
<button id="button" (click)="toTop()" ><i class="pi pi-chevron-up" ></i>
</button>
