
<div class="contentDash" >
  <app-home id="header"class="p-grid "> ></app-home>
  <app-about  id="about"class="p-grid "></app-about>
  <app-card id="works"></app-card>
  <app-Banner1></app-Banner1>
  <app-list-services id="service"></app-list-services>
  <app-map class="p-grid"></app-map>
  <app-partnerships class="p-grid" id="partner"></app-partnerships>
  <app-marquee class="p-grid"></app-marquee>
  <app-contact-racine id="contact"></app-contact-racine>
  <app-addresses class ="p-grid p-mt-1 "></app-addresses>
  <app-rights-reserved class ="p-grid "></app-rights-reserved>



  <button id="button" (click)="toTop()" ><i class="pi pi-chevron-up" ></i>
  </button>

  <a  class="whatsapp" href="https://wa.me/+21656622165" target="_blank">
    <img class="img-desc" src="../../../../assets/images/logo/icons8-whatsapp.png">
  </a>

</div>


